{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="rcard">
      <h2 class="card-title text-center">Register for <a href="/">Chappy</a></h2>
      <div class="card-body py-md-4">
        <form _lpchecked="1" action="/register" method="post">
          <div class="form-group">
             <input type="text" name="fname" class="form-control" id="name" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" name="lname" class="form-control" id="name" placeholder="Last Name">
         </div>
          <div class="form-group">
            <input type="text" name="username" class="form-control" id="name" placeholder="username">
          </div>
          <div class="form-group">
             <input type="email" name = "email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" name="phone" class="form-control" id="name" placeholder="phone: 555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
          </div>
          <div class="form-group">
            <input type="text" name="org_id" class="form-control" id="name" placeholder="Joining an Org (optional) Org id">
          </div>
          <div class="form-group">
            <input type="text" name="admin" class="form-control" id="name" placeholder="Admin? [y]/[n]">
          </div>
          <div class="form-group">
            <input type="text" name="org_name" class="form-control" id="name" placeholder="New Org (Optional)? Org Name">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="confirm-password" placeholder="confirm-password">
          </div>
          <div class="d-flex flex-row align-items-center justify-content-between">
            <a href="/login">Login</a><input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}